<div class="page">
  <app-header></app-header>

  <app-aside [notes]="notes"></app-aside>

  <main>
    <router-outlet></router-outlet>

    <div class="card">
      <div class="form-control">
        <input type="text" placeholder="Название" [(ngModel)]="noteTitle" />
      </div>
      <div class="form-control">
        <textarea rows="10" placeholder="Текст" [(ngModel)]="noteText"></textarea>
      </div>
      <button type="button" class="btn" (click)="addNote()">Добавить</button>
    </div>
  </main>
</div>
